@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url("https://i.ibb.co/N3QFPth/pexels-garrett-morrow-1649771-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
